// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  --ion-color-primary: #6b8de9;
  --ion-color-primary-rgb: 107,141,233;
  --ion-color-primary-contrast: #000000;
  --ion-color-primary-contrast-rgb: 0,0,0;
  --ion-color-primary-shade: #5e7ccd;
  --ion-color-primary-tint: #7a98eb;

  --ion-color-secondary: #078bed;
  --ion-color-secondary-rgb: 7,139,237;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255,255,255;
  --ion-color-secondary-shade: #067ad1;
  --ion-color-secondary-tint: #2097ef;

  --ion-color-tertiary: #7392fd;
  --ion-color-tertiary-rgb: 115,146,253;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0,0,0;
  --ion-color-tertiary-shade: #6580df;
  --ion-color-tertiary-tint: #819dfd;

  --ion-color-success: #61f39b;
  --ion-color-success-rgb: 97,243,155;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0,0,0;
  --ion-color-success-shade: #55d688;
  --ion-color-success-tint: #71f4a5;

  --ion-color-warning: #ffe26f;
  --ion-color-warning-rgb: 255,226,111;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0,0,0;
  --ion-color-warning-shade: #e0c762;
  --ion-color-warning-tint: #ffe57d;

  --ion-color-danger: #e71212;
  --ion-color-danger-rgb: 231,18,18;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #cb1010;
  --ion-color-danger-tint: #e92a2a;

  --ion-color-dark: #07137c;
  --ion-color-dark-rgb: 7,19,124;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #06116d;
  --ion-color-dark-tint: #202b89;

  --ion-color-medium: #dbdbfd;
  --ion-color-medium-rgb: 219,219,253;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0,0,0;
  --ion-color-medium-shade: #c1c1df;
  --ion-color-medium-tint: #dfdffd;

  --ion-color-light: #b5bcd5;
  --ion-color-light-rgb: 181,188,213;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #9fa5bb;
  --ion-color-light-tint: #bcc3d9;

  --ion-background-color: #edeffe;
  --ion-background-color-rgb: 237,239,254;

  --ion-text-color: #03067e;
  --ion-text-color-rgb: 3,6,126;

  --ion-color-step-50: #e1e3f8;
  --ion-color-step-100: #d6d8f1;
  --ion-color-step-150: #cacceb;
  --ion-color-step-200: #bec0e4;
  --ion-color-step-250: #b3b5de;
  --ion-color-step-300: #a7a9d8;
  --ion-color-step-350: #9b9dd1;
  --ion-color-step-400: #8f92cb;
  --ion-color-step-450: #8486c4;
  --ion-color-step-500: #787bbe;
  --ion-color-step-550: #6c6fb8;
  --ion-color-step-600: #6163b1;
  --ion-color-step-650: #5558ab;
  --ion-color-step-700: #494ca4;
  --ion-color-step-750: #3e409e;
  --ion-color-step-800: #323598;
  --ion-color-step-850: #262991;
  --ion-color-step-900: #1a1d8b;
  --ion-color-step-950: #0f1284;

}

