img {
  width:80%;
  height:80%;
  max-height: 300px;
  max-width: 300px;
}

form {
  padding: 10px;
}

ion-button {
  margin-top: 10px;
  margin-bottom: 10px;
}

ion-item {
  padding: 10px;
}
ion-header {
  padding: 10px;
  background: var(--ion-color-medium);
  text-align: center;
  vertical-align: middle;
}